@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #000000;
        --light-text-color: #595959;
        --hr-color: #595959;
        --link-color: #4343d0;
        --active-link-color: #000000;
        --nav-item-link-color: #4343d0;
        --nav-item-active-color: #4343d0;
        --selection-highlight-color: #4343d0;
        --preformatted-background-color: #000000;
        --preformatted-text-color: #ffffff;
        --callout-background-color: #c1c1fd;
        --callout-text-color: #000000;
        --callout-highlight-color: #4343d0;
        --blockquote-background-color: #aaaaaa;
        --blockquote-text-color: #000000;
        --blockquote-highlight-color: #444444;
        --social-icon-color: #444444;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #ffffff;
        --light-text-color: #d6d6d6;
        --hr-color: #d6d6d6;
        --link-color: #9a9ae5;
        --active-link-color: #ffffff;
        --nav-item-link-color: #9a9ae5;
        --nav-item-active-color: #9a9ae5;
        --selection-highlight-color: #9a9ae5;
        --preformatted-background-color: #444444;
        --preformatted-text-color: #ffffff;
        --callout-background-color: #2323af;
        --callout-text-color: #ffffff;
        --callout-highlight-color: #282885;
        --blockquote-background-color: #2323af;
        --blockquote-text-color: #ffffff;
        --blockquote-highlight-color: #282885;
        --social-icon-color: #a8a8a8;
    }
}
