@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff9ec;
        --text-color: #141414;
        --light-text-color: #545454;
        --hr-color: #206051;
        --link-color: #4b0fff;
        --active-link-color: #141414;
        --nav-item-link-color: #206051;
        --nav-item-active-color: #206051;
        --selection-highlight-color: #70dbc4;
        --preformatted-background-color: #333333;
        --preformatted-text-color: #70dbc4;
        --callout-background-color: #9697e9;
        --callout-text-color: #000000;
        --callout-link-color: #120047;
        --callout-highlight-color: #460df2;
        --blockquote-background-color: #dddddd;
        --blockquote-text-color: #0a0a0a;
        --blockquote-link-color: #0a0a0a;
        --blockquote-highlight-color: #2dd2ac;
        --social-icon-color: #206051;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #141414;
        --text-color: #e7e7e7;
        --light-text-color: #cccccc;
        --hr-color: #40bfa2;
        --link-color: #aa90f9;
        --active-link-color: #e7e7e7;
        --nav-item-link-color: #40bfa2;
        --nav-item-active-color: #40bfa2;
        --selection-highlight-color: #70dbc4;
        --preformatted-background-color: #333333;
        --preformatted-text-color: #70dbc4;
        --callout-background-color: #3d3e94;
        --callout-text-color: #ffffff;
        --callout-link-color: #e9e3fc;
        --callout-highlight-color: #aa90f9;
        --blockquote-background-color: #555555;
        --blockquote-text-color: #fafafa;
        --blockquote-link-color: #fafafa;
        --blockquote-highlight-color: #40bfa2;
        --social-icon-color: #70dbc4;
    }
}
