body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
}

main {
    display: block;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #4a2db3;
}

a:visited {
    color: #3c219b;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #6344ff;
}

.site-header {
    font-size: 26px;
    font-weight: 300;
    float: left;
    line-height: 54px;
    letter-spacing: -1px;
}

.site-header, .site-header:visited, .site-header:hover {
    color: #000000;
    text-decoration: none;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px
}

.nav-item.first {
    padding-left: 0px;
}

.nav-item.last {
    padding-right: 0px;
}

.nav-item.active {
    color: #0f0f0f;
}

a.nav-item:hover {
    text-decoration: none;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.post-date {
    color: #595959;
    font-size: 14px;
}

.http-error {
    text-align: center;
}

pre, code {
    font-family: 'SF Mono', 'Consolas', monospace;
    font-size: 14px;
}

pre {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: auto;
    border: 4px solid #000000;
    border-radius: 5px;
}

pre:focus {
    border: 4px solid #6344FF;
    border-radius: 5px;
}

blockquote {
    background-color: #f0f0f0;
    border-left: 10px solid #404040;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 140px;
}

blockquote p {
    padding: 10px;
}

p.callout {
    background-color: #e6e6ff;
    border-left: 10px solid #4747d1;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

hr {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

footer {
    margin-bottom: 15px;
    color: #595959;
    font-size: 14px;
}

img.u-photo {
    vertical-align: bottom;
    height: 1.5em;
    border-radius: 25%;
}

img.social-icon {
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;
    width: 24px;
}