body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    background-color: #fcfcfc;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

main {
    display: block;
}

.site-header {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    float: left;
    line-height: 54px;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.nav-item {
    color: #4A2DB3;
    padding-left: 20px;
}

.nav-item.active {
    color: #0f0f0f;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
}

.post-date {
    color: #828282;
    font-size: 14px;
}

.post-title {
    font-size: 42px;
}

pre, code {
    font-family: 'SF Mono', 'Consolas', monospace;
    font-size: 14px;
}

pre {
    padding: 5px;
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: auto;
}

a {
    text-decoration: none;
}