body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
}

main {
    display: block;
}

p {
    margin-bottom: 15px;
}

.site-header {
    font-size: 26px;
    font-weight: 300;
    float: left;
    line-height: 54px;
    letter-spacing: -1px;
}

.site-header, .site-header:visited {
    color: #000000;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.nav-item {
    color: #4A2DB3;
    padding-left: 20px;
}

.nav-item.active {
    color: #0f0f0f;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0
}

.post-date {
    color: #828282;
    font-size: 14px;
}

.http-error {
    text-align: center;
}

pre, code {
    font-family: 'SF Mono', 'Consolas', monospace;
    font-size: 14px;
}

pre {
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: auto;
}

footer {
    color: #828282;
    font-size: 14px;
}

a {
    text-decoration: none;
}