.site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 2.625em;
    line-height: 1;
    letter-spacing: -1px;
}

main {
    display: block;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

a:active {
    color: var(--active-link-color);
}

.site-header {
    font-size: 26px;
    font-weight: 300;
    float: left;
    line-height: 54px;
    letter-spacing: -1px;
}

.site-header, .site-header:visited, .site-header:hover {
    color: var(--text-color);
    text-decoration: none;
}

.site-nav {
    position:absolute;
    top:12px;
    right:30px;
    border: none;
    background-color:var(--background-color);
    border: 1px solid var(--text-color);
    border-radius:5px;
    text-align:right;
}

.nav-trigger {
    display: none;
}

.site-nav input ~ .nav-menu-trigger {
    clear: both;
    display: none;
}

.site-nav input:checked ~ .nav-menu-trigger {
    display:block;
    padding-bottom:5px;
    border-radius: 5px;
}

.site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.menu-icon svg {
    height: 30px;
    width: 30px;
}

.menu-icon path {
    fill: var(--text-color);
}

@media screen and (min-width: 800px) {
    .site-nav {
        position: static;
        float: right;
        line-height: 54px;
        border: none;
    }
    .site-nav label[for="nav-trigger"] {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .site-nav input ~ .nav-menu-trigger {
        display: block;
    }
    .site-nav .nav-item {
        display: inline;
        padding: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-item.first {
        margin-left: 0px;
    }
    .nav-item.last {
        margin-right: 0px;
    }
    .nav-item.active {
        border-bottom: 2px solid var(--nav-item-active-color) !important;
        border-right: none !important;
    }
}

.nav-item {
    color: var(--nav-item-link-color);
    text-decoration: none;
    line-height: 1.5em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.nav-item.active {
    border-right: 2px solid var(--nav-item-active-color);
    border-bottom: none;
}

a.nav-item:hover {
    text-decoration: none;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.post-date {
    color: var(--light-text-color);
    font-size: 14px;
}

.http-error {
    text-align: center;
}

pre, code {
    font-family: 'SF Mono', 'Consolas', monospace;
    font-size: 14px;
}

pre {
    padding: 10px;
    background-color: var(--preformatted-background-color);
    color: var(--preformatted-text-color);
    overflow-x: auto;
    border: 4px solid var(--preformatted-background-color);
    border-radius: 5px;
}

pre:focus {
    border: 4px solid var(--selection-highlight-color);
    border-radius: 5px;
}

blockquote {
    background-color: var(--blockquote-background-color);
    border-left: 10px solid var(--blockquote-highlight-color);
    border-radius: 5px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 140px;
}

blockquote p {
    padding: 10px;
}

p.callout {
    background-color: var(--callout-background-color);
    border-left: 10px solid var(--callout-highlight-color);
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

hr {
    border: 1px solid var(--hr-color);
    border-radius: 1px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

footer {
    margin-bottom: 15px;
    color: var(--light-text-color);
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-container p {
    margin-top: 10px;
    margin-bottom: 10px
}

@media screen and (min-width: 800px) {
    .h-card.bio {
        width: 355px;
        padding-right: 15px;
        margin-bottom: 1em;
    }
    .footer-right {
        width: 355px;
        padding-left: 15px;
        margin-bottom: 1em;
    }
}

img.u-photo {
    vertical-align: bottom;
    height: 1.5em;
    border-radius: 25%;
}

.h-card.social {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.social-icon {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    width: 24px;
}

.social-icon path {
    fill: var(--social-icon-color);
}

.inline-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.125em;
}

.inline-icon path {
    fill: var(--text-color);
}