<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head.html" . }}
    <body>
        <input id="dark-light-mode" type="checkbox" name="dark-light-mode" style="display:none;">
        <div class="dark-light-mode-wrapper">
        <div class="site-content">
            <header>
                {{ partial "header.html" . }}
            </header>
            <main class="content">
                {{ block "main" . }}{{ end }}
            </main>
            <footer>
                {{- partial "footer.html" . -}}
            </footer>
            <label id="dark-light-mode" for="dark-light-mode">Toggle</label>
        </div>
        </div>
    </body>
</html>