{{- $filename := (printf "font-awesome-icons/%s.svg" .filename) -}}
{{- $path_old := "<path" -}}
{{- $svg_old := "<svg" -}}
{{- if isset .title -}}
{{- $path_new := (printf "<title id=\"icon-title\">%s</title><path fill=\"currentColor\"" .title) -}}
{{- $svg_new := "<svg aria-labelledby=\"icon-title\" role=\"img\"" }}
{{- else -}}
{{- $path_new := "<path fill=\"currentColor\"" -}}
{{- $svg_new := "<svg aria-hidden=\"true\"" }}
{{- end -}}
{{- $fill := replace (readFile $filename) $path_old $path_new -}}
{{- replace $fill $svg_old $svg_new | safeHTML -}}