<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
    {{ end }}</title>
    {{ with .Site.Params.IndieWeb.EmailAddress }}<link rel="me" href="mailto:{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.GitHubUsername }}<link rel="me" href="https://github.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.TwitterHandle }}<link rel="me" href="https://twitter.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.MicroBlogUser }}<link rel="me" href="https://micro.blog/{{ . }}">{{ end }}
    <link rel="stylesheet" href={{ "css/style.css" | absURL }}>
</head>