{{ with .Site.Params.IndieWeb.EmailAddress }}
<div class="social-icon">
    <a class="u-url" rel="me" alt="Email" href="mailto:{{ . }}"><img class="social-icon" src={{ "icons/envelope.svg" | absURL }} height="24px" width="24px"></a>
</div>
{{ end }}
{{ with .Site.Params.IndieWeb.TwitterHandle }}
<div class="social-icon">
    <a class="u-url" rel="me" alt="Twitter" href="https://twitter.com/{{ . }}"><img class="social-icon" src={{ "icons/twitter.svg" | absURL }} height="24px" width="24px"></a>
</div>
{{ end }}
{{ with .Site.Params.IndieWeb.GitHubUsername }}
<div class="social-icon">
    <a class="u-url" rel="me" alt="GitHub" href="https://github.com/{{ . }}"><img class="social-icon" src={{ "icons/github.svg" | absURL }} height="24px" width="24px"></a>
</div>
{{ end }}